[project]
authors = ["Aadam <aadimator@gmail.com>"]
channels = ["conda-forge"]
name = "JaxARC"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
tqdm = ">=4.67.1,<5"
typer = ">=0.16.0,<0.17"
pyprojroot = ">=0.3.0,<0.4"
loguru = ">=0.7.3,<0.8"
python = ">=3.13.5,<3.14"
hydra-core = ">=1.3.2,<2"
rich = ">=14.0.0,<15"
drawsvg = ">=2.4.0,<3"
kaggle = ">=1.6.17,<2"
cairosvg = ">=2.8.2,<3"
seaborn = ">=0.13.2,<0.14"

[pypi-dependencies]
JaxARC = { path = ".", editable = true }
jax = { version = ">=0.6.2, <0.7", extras = ["cuda12"] }
chex = ">=0.1.89, <0.2"

[activation.env]
JAX_PLATFORMS = "cuda"

[target.osx.pypi-dependencies]
jax = { extras = ["cpu"] }

[target.osx.activation.env]
JAX_PLATFORMS = "cpu"

[environments]
default = { solve-group = "default" }
dev = { features = ["dev"], solve-group = "default" }
docs = { features = ["docs"], solve-group = "default" }
test = { features = ["test"], solve-group = "default" }

[feature.test.dependencies]
pytest = ">=8.4.0,<9"
pytest-cov = ">=6.1.1,<7"

[feature.test.tasks]
test = "pytest"

[feature.dev.dependencies]
pytest = ">=8.4.0,<9"
pytest-cov = ">=6.1.1,<7"
pre-commit = ">=4.2.0,<5"
pylint = ">=3.3.7,<4"
jupyter = ">=1.1.1,<2"

[feature.dev.tasks]
lint = "pre-commit run --all-files"
pylint = "pylint jaxarc"

[feature.docs.tasks]
docs-init = { cmd = "jupyter book init --write-toc", cwd = "docs" }
docs-serve = { cmd = "jupyter book start --execute", cwd = "docs" }
